version: '3.9'

services:

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: django_rest_api
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  backend:
    build: ./backend
    container_name: django_backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: django_rest_api
      DB_USER: root
      DB_PASSWORD: root
      DB_PORT: 3306
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: angular_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mysql_data:
